@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background: #5372f0;
}
.wrapper{
    width: 350px;
    height: 480px;
    margin: 65px auto;
    background: #fff;
    border-radius: 15px;
    box-shadow:0 10px 15px rgba(0, 0, 0, 0.1);
}
#display{
    border: none;
    outline: none;
    width: 330px;
    height: 80px;
    color: #5e5858;
    font-size: 58px;
    font-weight: 700;
    padding: 10px;
    text-align: right;
    background: tomato;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.buttons-box{
    margin: 35px 15px;
}
.btn{
    width: 60px;
    height: 60px;
    margin: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 28px;
    line-height: 30px;
    border-radius: 50%;
    background: #ecedef;
}
.btn:hover{
    background: rgba(0, 0, 0, 0.1);
}
.cbtn, .cbtn:hover{
background: red;
color: white;
}
.mbtn, .mbtn:hover{
    background: tomato;
    color: white;
}